* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: black;
}
/* Univeral Selector */
button {
    background-color: #210100;
    color: white;
    border-radius: 20px;
    padding: 10px;
}
/* Universal Selector */


.nav-container {
    border: 3px solid green;
    height: 7vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #210100;
}

nav .box {
    height: auto;
    width: auto;
}

.nav-container a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

.nav-container a:hover {
    text-decoration: underline;
}

.banner-one-container {
    border: 3px solid blue;
    background-image: url(images/dane-wetton-AkSJQnem75Y-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-section-one h1 {
    border: 3px solid black;
    margin-bottom: 1em;
}

.title-section-one p {
    border: 3px solid green;
    margin-bottom: 1em;
}

.title-section-one button {
    /* border: 3px solid blue; */
}

.section-one-homepage {
    border: 3px solid gold;
    margin-top: 2em;
    width: auto;
    height: auto;
    display: flex;
    grid-template-columns: repeat(2 1fr);
}

.section-one-homepage-info {
    border: 3px solid brown;
    width: auto;
    height: 70%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-one-homepage-info h1 {
    border: 3px solid yellow;
    font-size: 3rem;
    margin-top: 1em;
}

.section-one-homepage-info p {
   border: 3px solid red; 
   margin-top: 0.7em;
   text-decoration: underline;
   font-size: 1.2em;
   font-weight: 700;
   transition: 0.5s;
}

.section-one-homepage-picture {
    border: 3px solid red;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

.image-box-one {
    background-image: url(imagesfolder/GettyImages-2189126117.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 80vw;
    border-radius: 30px;
    margin-top: 1em;
}

/* Home page */

/* Pricing box */
.pricing-container-two {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4em;
}

.title-section-price {
    text-align: center;
    border: yellow solid 3px;
    margin-top: 2em;
}

.pricing-container {
    border: red solid 3px;
    height: auto;
    width: auto;
}

.pricing-container-info {
    border: green 3px solid;
    height: 70vh;
    width: 30vw;
    text-align: center;
}

@media (max-width: 890px) {
    .pricing-container-two {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    width: auto;
    height: auto;
    }
}

/* Pricing box */

